.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
  gap: 8px;
}

.title {
  font-size: 14px;
  font-weight: 600;
}

.button {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  background: none;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-hover-color);
  }

  &:focus-visible {
    outline: 2px solid var(--primary-color);
    outline-offset: -1px;
  }
}
